* {
    box-sizing: border-box;}
    body {
        background: #202020;
        margin: 0 auto;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;}
        body.dark{
            transition: 0.5s ease;
            background: #000;
        }
        .contenedor {
            width: 95%;
            max-width:87.5em;
            margin: 0 auto;
            overflow: hidden;}
        /* Main */
        .main {
            overflow: hidden;}
        /* Servicios */
            .main .servicios {
                background: #fff;
                width: 100%;
                padding-bottom: 3.125em;
            }
                body.dark .main .servicios{
                    transition: 0.5s ease;
                    background: #202020;
                }
                .main .servicios .titulo {
                    text-align: center;
                    font-size: 2.8125em;
                    padding: 1.875rem 0 1.25rem;
                    margin: 0;
                }  
                    body.dark .servicios .titulo,
                    body.dark .servicios .subtitulo,
                    body.dark .servicios .text__SobreMi{
                        transition: 0.5s ease;
                        color: #fff;
                    }
                     body.dark .main .servicios .text__SobreMi .fa-rocket,
                    body.dark .servicios .text__SobreMi .subtext__SobreMi{
                        transition: 0.5s ease;
                        filter: brightness(1.2);  
                    }
                    .main .servicios .text__SobreMi .fa-rocket:hover{
                        transform: scale(1.3);
                        transition: 0.5s ease;
                    }
                    .main .servicios .text__SobreMi {
                        font-size: 1.25em;
                        margin: 0 auto;
                        width: 60%;
                        line-height: 1.6875em;
                        max-width: 100em;
                        font-weight: 400;
                        padding: 0 0 3.125rem;
                        text-align: center;
                    }
                    .main .servicios .text__SobreMi .fa-rocket{
                        color: #ffd100; 
                        font-size: 1.875em;
                        filter: brightness(0.9);
                    }
                     .main .servicios .text__SobreMi .subtext__SobreMi{
                         color: #FFD100;
                         filter: brightness(0.8);
                         margin: 0;
                         display: initial;
                         padding: 0;
                     }
                    .main .servicios .subtitulo{
                        text-align: center;
                        font-size: 1.875em;
                        padding: 1.25rem 0;
                        margin: 0;
                    }
                    .main .servicios .contenedor{
                        display: grid;
                        width: 100%;
                        max-width: 62.5em;
                        grid-template-columns: 50% 50%;
                        justify-content: center;
                        align-items: center;
                    }
                    .main .servicios .contenedor .cajaserv {
                        margin: 0 0 0.3125em 0;
                        display: flex;
                        box-sizing: border-box;
                        min-height: 3.125em;
                        text-align: start;
                        justify-content: start;
                    } 
                    .servicio {
                        width: 100%;
                        font-size: 1.125em;
                        border-top: 0.625rem solid #FFD100;
                        border-radius: 15px;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        margin: 0.9375rem;
                        padding: 1.25rem;
                        background: #202020;
                        color: rgba(255,255,255, 0.801)}
                        .servicio:hover {
                            transform: scale(1.03);
                            transition: 0.5s;}
                        body.dark .servicio{
                            transition: 0.5s ease;
                            background: #000;
                        }
                        .main .servicios .contenedor .cajaserv img {
                            width: 1.5625em;
                            max-height: 1.5625em;
                            margin-right: 0.625em;} 
                        .main .servicios .contenedor .cajaserv h5 {
                            font-size: 1.25em;
                            line-height: 0em;
                            font-weight: 500;
                            margin: 0.625rem 0;
                            color: rgba(255,255,255, 0.911);}
        /* Portfolio */
        .main .portfolio {
                padding-bottom: 0px;
            }
            .main .portfolio.scroll{
                opacity: 1;
            } 
            .main .portfolio .titulo {
                text-align: center;
                font-size: 3.125em;
                margin-bottom: 2.5rem;
                padding-top: 2.5rem;
                color: #fff;}
            .main .portfolio .cajastrabajo .trabajos {
                z-index: 9;
                display: flex;
                flex-flow: row nowrap;
                border-bottom: 2px solid transparent;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                padding: 3.125rem 0 3.125rem 0;}
                body.dark .main .portfolio .cajastrabajo .trabajos:hover{
                    background: #202020;
                    border-radius: 2px;
                    transition: 0.5s ease ;
                }
                .main .portfolio .cajastrabajo .trabajos:last-child {
                    padding-bottom: 5rem;}
                .main .portfolio .cajastrabajo .trabajos:hover {
                    border-bottom: 2px solid rgba(255, 255, 255, 0.274);
                    background: #202020;
                    transition: 0.5s ease;}
            .thumb img {
                border-radius: 10px;
                border: 1px solid #ffd100;
                width: 99%;}
            .thumb, .descripcion {
                width:50%;
                display: flex;
                flex-flow: column;
                align-items: center;
                margin: 0 1.25rem;}
            .nombre {
                color: #ffd100;
                margin: 1rem 0 0.5rem;
                font-size: 2.1875em;
                font-weight: bold;}
            .categoria {
                color: rgba(255, 255, 255, 0.85);
                margin: 1.25rem 0;
                font-size: 1.375em;
                font-weight: 500;}
                body.dark .categoria{
                    color: #fff;
                }
            .resumen {
                color: rgba(255, 255, 255, 0.90);
                padding-bottom: 1.5625rem;
                font-size: 1.125em;
                font-weight: 400;
                 margin: 0.625rem 3.125rem;}
            .botones{
                display: flex;
                flex-flow: row wrap;
            }
                .boton-pf {
                    margin-right: 0.625em;
                }
                .boton-vp, .boton-pf {
                    border-radius: 33px;
                    border: 2px solid #FFD100; 
                    padding: 1.0625rem 2.5rem 1.0625rem 2.5rem;
                    margin-top: 0px;
                    cursor: pointer;
                    background: transparent;}
                    .boton-vp:hover, .boton-pf:hover {
                        transform: scale(1.03);
                        transition: 0.5s;
                        background: #ffd100;}
                    .boton-vp a, .boton-pf a{
                        color: #fff;
                        font-size: 1.25em;
                        text-shadow: 1px 1px 10px rgb(0, 0, 0);
                        text-decoration: none;
                        text-transform: capitalize;}
                .boton-vp.desactivated,
                .boton-vp.desactivated ~ .boton-vp a{
                   opacity: 0.5;
                   cursor:default !important;
                   pointer-events: none;
                }