* {
    box-sizing: border-box;}
    body {
        background: #fff;
        margin: 0 auto;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;}
        body.dark{
            transition: 0.5s all ease;
            background: #000;
        }
        .contenedor {
            width: 95%;
            max-width:1400px;
            margin: 0 auto;
            overflow: hidden;}
        /* Main */
        .main {
            overflow: hidden;}
        /* Servicios */
            .main .servicios {
                background: #fff;
                width: 100%;
                padding-bottom: 50px;
            }
                body.dark .main .servicios{
                    transition: 0.5s ease alll;
                    background: #202020;
                }
                .main .servicios .titulo {
                    text-align: center;
                    font-size: 50px;
                    padding: 50px 0;
                    margin: 0px 0px 0px;}  
                    body.dark .servicios .titulo{
                        transition: 0.5s ease all;
                        color: #fff;
                    }
                    .main .servicios .contenedor{
                        display: grid;
                        width: 100%;
                        max-width: 1000px;
                        grid-template-columns: 50% 50%;
                        justify-content: center;
                        align-items: center;
                    }
                    .main .servicios .contenedor .cajaserv {
                        margin: 0px 0px 5px 0px;
                        display: flex;
                        box-sizing: border-box;
                        min-height: 50px;
                        text-align: start;
                        justify-content: start;
                    } 
                    .servicio {
                        width: 100%;
                        font-size: 18px;
                        border-top: 10px solid #FFD100;
                        border-radius: 15px;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        margin: 15px;
                        padding: 20px;
                        background: #202020;
                        color: rgba(255,255,255, 0.801)}
                        .servicio:hover {
                            transform: scale(1.03);
                            transition: 0.5s;}
                        body.dark .servicio{
                            transition: 0.5s ease all;
                            background: #000;
                        }
                        .main .servicios .contenedor .cajaserv img {
                            width: 25px;
                            max-height: 25px;
                            margin-right: 10px;} 
                        .main .servicios .contenedor .cajaserv h5 {
                            font-size: 20px;
                            line-height: 0px;
                            font-weight: 500;
                            margin: 10px 0;
                            color: rgba(255,255,255, 0.911);}
        /* Portfolio */
        .main .portfolio {
                background: #333533;
                padding-bottom: 0px;
            }
            body.dark .main .portfolio{
                background: #000;
                transition: 0.3s ease all;
            }
            .main .portfolio.scroll{
                opacity: 1;
            } 
            .main .portfolio .titulo {
                text-align: center;
                font-size: 50px;
                margin-bottom: 40px;
                padding-top: 40px;
                color: #fff;}
            .main .portfolio .cajastrabajo .trabajos {
                background: #333533;
                z-index: 9;
                display: flex;
                flex-flow: row nowrap;
                border-bottom: 2px solid transparent;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                padding: 50px 0px 50px 0px;}
                body.dark .main .portfolio .cajastrabajo .trabajos{
                    background: #000;
                    transition: 0.3s ease all;
                }
                body.dark .main .portfolio .cajastrabajo .trabajos:hover{
                    background: #202020;
                    border-radius: 2px;
                    transition: 0.3s ease all;
                }
                .main .portfolio .cajastrabajo .trabajos:last-child {
                    margin-bottom: 50px;}
                .main .portfolio .cajastrabajo .trabajos:hover {
                    border-bottom: 2px solid rgba(255, 255, 255, 0.274);
                    background: #202020;
                    transition: 0.3s;}
            .thumb img {
                border-radius: 33px;}
            .thumb, .descripcion {
                width:50%;
                display: flex;
                flex-flow: column;
                align-items: center;
                margin: 0px 20px;}
            .nombre {
                color: #ffd100;
                margin: 20px 0;
                font-size: 35px;
                font-weight: bold;}
            .categoria {
                color: rgba(255, 255, 255, 0.85);
                margin: 20px 0;
                font-size: 22px;
                font-weight: 500;}
            .resumen {
                color: rgba(255, 255, 255, 0.60);
                padding-bottom: 25px;
                font-size: 18px;
                font-weight: 400;
                 margin: 10px 50px;}
            .botones{
                display: flex;
                flex-flow: row wrap;
            }
                .boton-pf {
                    margin-right: 10px;
                }
                .boton-vp, .boton-pf {
                    border-radius: 33px;
                    border: 2px solid #FFD100; 
                    padding: 17px 40px 17px 40px;
                    margin-top: 0px;
                    cursor: pointer;
                    background: transparent;}
                    .boton-vp:hover, .boton-pf:hover {
                        transform: scale(1.03);
                        transition: 0.3s;
                        background: #ffd100;}
                    .boton-vp a, .boton-pf a{
                        color: #fff;
                        font-size: 20px;
                        text-shadow: 1px 1px 10px rgb(0, 0, 0);
                        text-decoration: none;
                        text-transform: capitalize;}
        