/* Footer */
footer {
    font-size: 16px;
}
    footer .redes-sociales {
        padding:3.125rem 0 0;}
        footer .redes-sociales .contenedor {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;}
    footer .logo {
        margin: auto;
        text-align: center;}
    footer .frase {
        color: #fff;
        text-align: center;
        margin: auto;
        font-weight: 500;
        line-height: 1.5625em;}
    footer .redes-sociales a {
        color: #fff;
        text-align: center;
        border-radius: 3px;
        width: 100px;
        display: block;
        padding: 0.9375rem 0;
        font-size: 2.5em;}
        footer .redes-sociales .github:hover {
            transition: 0.5s ease;
            background: #6e5494;}
        footer .redes-sociales .linkedin:hover {
            transition: 0.5s ease;
            background: #0077b5;}
        footer .redes-sociales .email:hover {
            transition: 0.5s ease;
            background: #ea4335;}
    footer .copyright {
        color: #fff;   
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 3.125rem 3.125rem 0 3.125rem;
        padding-bottom: 0.625rem;
        }