
 /* Header */
 header {
    background: #202020;
    padding-bottom: 200px;
    max-height: 1400px;}
    body.dark header{
        transition: 0.5s ease all;
        background: #000;
    }
    header .menus {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;}
        header .menus .logo a {
            padding: 5px 25px;
            color: #FFD100;
            padding-bottom: 9px;
            display: inline-block;
            font-size: 1.25em;
            text-decoration: none;}
            header .menus .logo a:hover {
                background: transparent ;
                transform: scale(1.03);
                transition: 0.3s;}
        header .menus .menu{
            display: none;
        }
            header .menus .menu a {
                margin: 0 20px;
                color: #FFD100;
                padding-bottom: 9px;
                display: inline-block;
                font-size: 1.25em;
                text-decoration: none;
                border-bottom: 2px solid transparent;}
                header .menus .menu a:hover {
                    border-bottom: 2px solid #FFD100;}
        header .menus .rrss{
            display: flex;
            flex-flow: row wrap;
        }
        header .menus .rrss .icono{
            padding: 5px 10px;
            color: #FFD100;
            margin-bottom: 9px;
            display: inline-block;
            font-size: 1.60em;
            text-decoration: none;
        }
            header .menus .rrss .icono:hover{
                color: #fff;
                transition: 0.3s;
                border-radius: 10px;
            }
                header .menus .rrss .github:hover {
                    background: #6e5494;}
                header .menus .rrss .linkedin:hover {
                    background: #0077b5;}

                    .nav__BtnMode{
                        background: #343d5b;
                        border: none;
                        border-radius: 1000px;
                        position: relative;
                        display: flex;
                        margin: 0 0 9px 10px;
                        height: 30px;
                        align-items: center;
                        align-self: center;
                        justify-content: center;
                        cursor: pointer;
                        outline: none;
                    }
        
                        .nav__BtnMode::after{
                            content: "";
                            display: block;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            background: #f1f1f1;
                            top: 0;
                            left: 0;
                            right: unset;
                            border-radius: 100px;
                            transition: 0.3s ease all;
                            /* box-shadow: 0px 0px 2px 2px #202020; */
                        }
        
                        .nav__BtnMode.active{
                            background: #FFD100;
                            color: #000;  
                        }
        
                            .nav__BtnMode.active::after{
                                right: 0;
                                left: unset;               
                            }
        
                        .btn__img{
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            display: block;
                            background: none;
                        }
        
                            .Sun{
                                margin-right: 5px;
                            }
                            .Moon{
                                margin-left: 5px;
                            }
    header .contenedor-header {
        display: flex;
        margin-top: 100px;
        padding-bottom: 50px;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;}
        header .contenedor-header .imagen {
            width: 100%;
            text-align: center;}
            header .contenedor-header .text {
                width: 100%;
                text-align: center;}
                header .contenedor-header .text .nombre{
                    color: #fff;
                    font-weight: 600;
                    margin-bottom: 30px;
                    font-size: 35px;
                    line-height: 50px;}
                    header .contenedor-header .text .profesion {
                        color: #fff !important;
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 20px;
                        margin-bottom: 35px;
                    }
                        header .contenedor-header .text .profesion .typed{
                            display: inline-block;
                            font-size: 30px;
                            color: #ffd100;
                        }
                        header .contenedor-header .text .profesion .inicio-cadena{
                            color: #fff !important;
                        }
        header .contenedor-header .boton-hd {
            border-radius: 33px;
            cursor: pointer;
            border: 2px solid #FFD100; 
            padding: 17px 40px 17px 40px;
            margin-top: 0px;
            background: #FFD100;}
            body.dark .contenedor-header .boton-hd{
                background: transparent;
                transition: 0.5s ease all;
            }
            body.dark .contenedor-header .boton-hd:hover{
                background: #FFD100;
                transition: 0.5s ease all;
            }
            header .contenedor-header .boton-hd:hover {
                transform: scale(1.03);
                transition: 0.3s;
                background: transparent;}
            header .contenedor-header .boton-hd a {
                color: #fff;
                font-size: 20px;
                text-shadow: 1px 1px 10px rgb(0, 0, 0);
                text-decoration: none;
                text-transform: capitalize;
            }

            /* animacion */
            @keyframes efectoProfesion {
                from{
                    width: 100%;
                }to{
                    width: 0%;
                }
            }
