
 /* Header */
 header {
    font-size: 16px;
    background: #202020;
    padding-bottom: 6.25rem;
    max-height: 87.5em;}
    body.dark header{
        transition: 0.5s ease all;
        background: #000;
    }
    header .menus {
        margin: 1.25em 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;}
        header .menus .menuToggle{
            display: none;
            color: #ffd100;
            background: transparent;
            border: none;
            font-size: 1.1875em;
            height: 90%;
        }
        header .menus .logo a {
            padding: 0.3125rem 1.5625rem;
            color: #FFD100;
            padding-bottom: 0.5625rem;
            display: inline-block;
            font-size: 1.25em;
            text-decoration: none;}
            header .menus .logo a:hover {
                background: transparent ;
                transform: scale(1.03);
                transition: 0.3s;}
            header .menus .menu a {
                margin: 0 1.25rem;
                color: #FFD100;
                padding-bottom: 0.5625rem;
                display: inline-block;
                font-size: 1.25em;
                text-decoration: none;
                border-bottom: 2px solid transparent;}
                header .menus .menu a:hover {
                    border-bottom: 2px solid #FFD100;}
        header .menus .rrss{
            display: flex;
            flex-flow: row wrap;
        }
        header .menus .rrss .icono{
            padding: 0.3125rem 0.625rem;
            color: #FFD100;
            margin-bottom: 0.5625rem;
            display: inline-block;
            font-size: 1.6em;
            text-decoration: none;
        }
            header .menus .rrss .icono:hover{
                color: #fff;
                transition: 0.3s;
                border-radius: 10px;
            }
                header .menus .rrss .github:hover {
                    background: #6e5494;}
                header .menus .rrss .linkedin:hover {
                    background: #0077b5;}

                    .nav__BtnMode{
                        background: #343d5b;
                        border: none;
                        border-radius: 1000px;
                        position: relative;
                        display: flex;
                        margin: 0 0 0.5625rem 0.625rem;
                        height: 1.875em;
                        align-items: center;
                        align-self: center;
                        justify-content: center;
                        cursor: pointer;
                        outline: none;
                    }
        
                        .nav__BtnMode::after{
                            content: "";
                            display: block;
                            width: 1.875em;
                            height: 1.875em;
                            position: absolute;
                            background: #f1f1f1;
                            top: 0;
                            left: 0;
                            right: unset;
                            border-radius: 100px;
                            transition: 0.3s ease all;
                            /* box-shadow: 0px 0px 2px 2px #202020; */
                        }
        
                        .nav__BtnMode.active{
                            background: #FFD100;
                            color: #000;  
                        }
        
                            .nav__BtnMode.active::after{
                                right: 0;
                                left: unset;               
                            }
        
                        .btn__img{
                            width: 1.25em;
                            height: 1.25em;
                            line-height: 1.25em;
                            display: block;
                            background: none;
                        }
        
                            .Sun{
                                margin-right: 0.3125rem;
                            }
                            .Moon{
                                margin-left: 0.3125rem;
                            }
    header .contenedor-header {
        display: flex;
        margin-top: 3.125rem;
        padding-bottom: 1.25rem;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;}
        header .contenedor-header .imagen {
            width: 100%;
            text-align: center;}
            header .contenedor-header .text {
                width: 100%;
                text-align: center;}
                header .contenedor-header .text .nombre{
                    color: #fff;
                    font-weight: 600;
                    margin-bottom: 0.9375rem;
                    font-size: 2.1875em;
                    line-height: 1.25em;}
                    header .contenedor-header .text .profesion {
                        color: #fff !important;
                        font-weight: 500;
                        font-size: 1.875em;
                        line-height: 1.25em;
                        margin-bottom: 1.1875rem;
                    }
                        header .contenedor-header .text .profesion .typed{
                            display: inline-block;
                            color: #ffd100;
                        }
                       
        header .contenedor-header .boton-hd {
            border-radius: 33px;
            cursor: pointer;
            border: 2px solid #FFD100; 
            padding: 1.0625rem 2.5rem 1.0625rem 2.5rem;
            margin-top: 0px;
            background: transparent;}
                header .contenedor-header .boton-hd:hover{
                    background: #FFD100;
                    transition: 0.5s ease all;
                    transform: scale(1.03);
                }
            header .contenedor-header .boton-hd a {
                color: #fff;
                font-size: 1.25em;
                text-shadow: 1px 1px 1px #000;
                text-decoration: none;
                text-transform: capitalize;
            }
            .enlace__BtnUp{
                position:fixed;
                right: 3%;
                bottom: 5%;
                cursor: pointer;
                z-index: 300;
            }
            .btn__Up{
                background: #000;
                border: none;
                color: #ffd100;
                z-index: 301;
                border: 1px solid #ffd100;
                border-radius: 33px;
                font-size: 1.5625em;
                padding: 0.375rem 0.625rem 0.4375rem 0.6875rem;
                cursor: pointer; 
            }
            .fa-chevron-up{
                cursor: pointer;
                z-index: 302;
            }

            .btn__Up:hover{
                background: #ffd100;
                color: #000;
                transition: 0.5s ease all;
            }

            /* animacion */
            @keyframes efectoProfesion {
                from{
                    width: 100%;
                }to{
                    width: 0%;
                }
            }
