/*-----------------Media Queries -----------------------*/
/* 900px */
@media screen and (max-width: 900px) { 
    * {
        box-sizing: border-box;}   
    header {
        padding-bottom: 50px;
    } 
    /* header menu nav */
    header .contenedor .menus {
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 0;
        padding:15px 0;
        height: 40px;
        z-index: 30;
        background: #202020;
        width: 100%;}
        body.dark header .contenedor .menus{
            background: #000; 
        }
        header .menus .menuToggle{
            display: flex;
            padding-left: 20px;
            font-size: 25px;
            align-items: center;
            cursor: pointer;
        }
        header .contenedor .menus .logo{
            display: none;
        }
            header .contenedor .menus .menu {
                position: fixed;
                display: flex;
                justify-content: flex-start;
                flex-flow: column wrap;
                left: 100%;
                transition: left 0.5s;
                top: 40px;
                z-index: 10;
                width: 100%;
                background: #202020;
                z-index: 1000;
                padding-top: 10px;
                }
                body.dark header .contenedor .menus .menu{
                    background: #000;
                }
                header .contenedor .menus .menu.activado{
                    left: 0;
                }
        header .contenedor .menus .menu a{
            font-size: 18px;
            display: flex;
            border-bottom: 1px solid #FFd100;
            flex-flow: column wrap;
            z-index: 20;
            padding: 10px 0 10px 20px;
            width: 100%;
            margin: 0;
        }
            header .contenedor .menus .rrss .icono{
                display: none;
            }

            header .contenedor .menus .rrss {
                padding: 15px 10px 5px 0;
            }
    /* header img textos wspp */
    header .contenedor .contenedor-header .imagen img{
        width: 250px;
        margin: auto;}
    header .contenedor .contenedor-header .text .nombre {
        font-size: 30px;}
    header .contenedor .contenedor-header .text .profesion {
        font-size: 20px;}
        header .contenedor-header .text .profesion .typed{
            display: inline-block;
            font-size: 20px;
            color: #ffd100;
        }
    header .contenedor .contenedor-header .boton-hd a {
        font-size: 20px;}
    /* servicios */
        .main .servicios .contenedor {
            margin: 0px;
            padding: 0px;
            display:flex;
            align-items: center;
            flex-flow: column wrap;
            justify-content: center;
            width: 100%;}
            .main .servicios .text__SobreMi {
                font-size: 20px;
                margin: 0 auto;
                width: 60%;
                line-height: 27px;
                max-width: 1600px;
                font-weight: 400;
                padding: 0 0px 50px;
                text-align: start;
            }
            .main .servicios .contenedor .cajaserv {
                width: 80%;
                margin-bottom: 10px;}
            .main .servicios .contenedor .cajaserv img {
                width: 75px;}
            .main .servicios .contenedor .cajaserv h5 {
                font-size: 20px;}

    /* portfolio */
.main .portfolio { 
    padding-bottom: 0;}
    .main .portfolio .contenedor {
            width: 100%;
            box-sizing: border-box;}
        .main .portfolio .titulo {
            font-size: 50px;
            padding-top:0;
            margin: 50px 0 20px;}
            .main .portfolio .contenedor .cajastrabajo {
                border-bottom: 1px solid #ffd100;}
                .main .portfolio .contenedor .cajastrabajo .trabajos {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    margin: auto;
                    padding-bottom: 20px;}
                    .main .portfolio .cajastrabajo .trabajos .thumb{
                        padding-bottom: 15px;
                    }
                        .main .portfolio .cajastrabajo .trabajos .thumb img{
                            margin: 0;
                            width: 500px;
                            height: 80%;
                            border: 1px solid #000;
                            
                        }
                        .main .portfolio .cajastrabajo .trabajos .descripcion {
                            width: 100%;}   
                                .main .portfolio .cajastrabajo .trabajos .descripcion .nombre {
                                    font-size: 35px;
                                    margin: 10px 0px;}
                                .main .portfolio .cajastrabajo .trabajos .descripcion .categoria {
                                    font-size: 20px;
                                    margin: 10px 50px;}
                                .main .portfolio .cajastrabajo .trabajos .descripcion .resumen {
                                    font-size: 18px;
                                    margin: 10px 30px;}
                                .main .portfolio .cajastrabajo .trabajos .descripcion .boton-pf,
                                .main .portfolio .cajastrabajo .trabajos .descripcion .boton-vp {
                                    width: 100%;
                                    margin: 15px 0;
                                    font-size: 15px;
                                    text-shadow: 1px 1px 5px #000}
/* footer */
    footer .contacto {
        padding: 0 0 40px;}
        footer .contacto .titulo {
            font-size: 35px;}
        footer .contacto .subtitulo {
            font-size: 25px;}
/* Pie de pagina */
    footer .redes-sociales {
        margin:auto;}
        footer .redes-sociales .logo img { 
            width: 75px;}
        footer .redes-sociales .contenedor a {
            width: 60px;
            font-size: 2em}
        footer .redes-sociales .copyright {
            margin: 30px auto 0px auto;}
            footer .redes-sociales .copyright p{
                display: flex;
                font-size: 15px;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin: 5px auto;}}
/* 500px */
@media screen and (max-width: 500px) { 
    * {
        box-sizing: border-box;}   
    header {
      padding-bottom: 0px;}
    /* header menu nav */
                header .contenedor .menus .menu a{
                    font-size: 18px;}
    /* header img textos wspp */
    header .contenedor .contenedor-header {
        padding-top: 20px;}
        header .contenedor .contenedor-header .imagen img{
            width: 200px;
            margin: auto;}
        header .contenedor .contenedor-header .text .nombre {
            font-size: 20px;
            margin: 30px 0px 25px 0px;
            line-height: 20px;}
        header .contenedor .contenedor-header .text .profesion {
            font-size: 18px;
            margin: 0px 0px 25px 0px;}
            header .contenedor-header .text .profesion .typed{
                display: inline-block;
                font-size: 18px;
                color: #ffd100;
            }
        header .contenedor .contenedor-header .boton-hd {
            padding: 8px 18px 12px 18px;}
            header .contenedor .contenedor-header .boton-hd a {
                font-size: 15px;
                margin: auto;}

                .enlace__BtnUp{
                    right: 3%;
                    bottom: 3%;
                }
                .btn__Up{ 
                    font-size: 20px;
                    padding: 5px 9px 6px 9px;
                }
    /* servicios */
        .main .servicios .contenedor {
            margin: 0px;
            padding: 0px;
            display:flex;
            align-items: center;
            flex-flow: column wrap;
            justify-content: center;
            width: 100%;
        }
            .main .servicios .text__SobreMi {
                font-size: 17px;
                margin: 0 auto;
                width: 60%;
                line-height: 27px;
                max-width: 1600px;
                font-weight: 400;
                padding: 0 0px 50px;
                text-align: start;
            }
            .main .servicios .titulo {
                font-size: 40px;
                margin: 30px 0 10px;}
                .main .servicios .subtitulo{
                    font-size: 25px;
                }
            .main .servicios .contenedor .cajaserv {
                width: 90%;}
                .main .servicios .contenedor .cajaserv img {
                    width: 50px;}
                .main .servicios .contenedor .cajaserv h5 {
                    font-size: 20px;}
    /* portfolio */
.main .portfolio {
    padding-bottom: 0;}
    .main .portfolio .contenedor {
            width: 100%;
            box-sizing: border-box;}
        .main .portfolio .titulo {
            font-size: 40px;
            padding-top: 0;
            margin: 40px 0 10px;}
                .main .portfolio .contenedor .cajastrabajo .trabajos {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    margin: auto;
                    padding-bottom: 20px;}
                .main .portfolio .cajastrabajo .trabajos .thumb img{
                    width: 350px;}
                .main .portfolio .cajastrabajo .trabajos .descripcion {
                    width: 100%;}   
                        .main .portfolio .cajastrabajo .trabajos .descripcion .nombre {
                            font-size: 25px;
                            margin: 10px 0px;}
                        .main .portfolio .cajastrabajo .trabajos .descripcion .categoria {
                            font-size: 17px;
                            margin: 10px 50px;}
                        .main .portfolio .cajastrabajo .trabajos .descripcion .resumen {
                            font-size: 17px;
                            padding-bottom: 10px;
                            margin: 10px 50px;}
                        .main .portfolio .cajastrabajo .trabajos .descripcion .boton-pf,
                        .main .portfolio .cajastrabajo .trabajos .descripcion .boton-vp {
                            width: 100%;
                            margin: 10px 50px;
                            padding: 10px 5px;
                            }
                            .main .portfolio .cajastrabajo .trabajos .descripcion .boton-pf a,
                            .main .portfolio .cajastrabajo .trabajos .descripcion .boton-vp a {
                                font-size: 15px;
                                text-shadow: 1px 1px 5px #000;}
/* footer */
    footer .contacto {
        padding: 0px;
        padding-bottom: 50px;}
        footer .contacto .contenedor .titulo {
            font-size: 30px;
            margin: 50px 0px 10px;}
        footer .contacto .contenedor .subtitulo {
            font-size: 18px;}
        footer .contacto .contenedor .formulario input {
            font-size: 18px;
            width: 100%;
            padding: 18px 10px;}
        footer .contacto .contenedor .formulario textarea {
            font-size: 18px;
            width: 100%;
            margin-bottom: 10px;
            padding: 18px 10px;}
        footer .contacto .contenedor .formulario .botonform {
            font-size: 18px;
            width: 50%;
            padding: 10px 10px;}
/* Pie de pagina */
    footer .redes-sociales {
        margin:auto;}
        footer .redes-sociales .logo img { 
            width: 50px;}
        footer .redes-sociales .frase p {
            font-size: 14px;}
        footer .redes-sociales .contenedor a {
            width: 50px;
            font-size: 2em}
        footer .redes-sociales .email{
            font-size: 15px;
        }
        footer .redes-sociales .copyright {
            margin: 40px auto 0px auto;}
            footer .redes-sociales .copyright p{
                font-size: 13px;
                display: flex;
                width:100%;
                flex-flow: column nowrap;
                margin: 5px auto;
            }
}

@media screen and (max-width: 360px) {
    .main .portfolio .cajastrabajo .trabajos .thumb img{
        width: 250px;}
}