/*-----------------Media Queries -----------------------*/
/* 56.25em */
@media screen and (max-width: 900px) { 
    * {
        box-sizing: border-box;}   
    header {
        padding-bottom: 3.125em;
    } 
    /* header menu nav */
    header .contenedor .menus {
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 0;
        padding:0.9375em 0;
        height: 2.5em;
        z-index: 30;
        background: #202020;
        width: 100%;}
        body.dark header .contenedor .menus{
            background: #000; 
        }
        header .menus .menuToggle{
            display: flex;
            padding-left: 1.25rem;
            font-size: 1.5625em;
            align-items: center;
            cursor: pointer;
        }
        header .contenedor .menus .logo{
            display: none;
        }
            header .contenedor .menus .menu {
                position: fixed;
                display: flex;
                justify-content: flex-start;
                flex-flow: column wrap;
                left: 100%;
                transition: left 0.5s;
                top: 2.5rem;
                z-index: 10;
                width: 100%;
                background: #202020;
                z-index: 1000;
                padding-top: 0.625rem;
                }
                body.dark header .contenedor .menus .menu{
                    background: #000;
                }
                header .contenedor .menus .menu.activado{
                    left: 0;
                }
        header .contenedor .menus .menu a{
            font-size: 1.125em;
            display: flex;
            border-bottom: 1px solid #FFd100;
            flex-flow: column wrap;
            z-index: 20;
            padding: 0.625rem 0 0.625rem 1.25rem;
            width: 100%;
            margin: 0;
        }
            header .contenedor .menus .rrss .icono{
                display: none;
            }
            header .contenedor .menus .rrss {
                padding: 0.9375rem 0.625rem 0.3125rem 0;
            }
    /* header img textos wspp */
    header .contenedor .contenedor-header .imagen img{
        width: 15.625rem;
        margin: auto;}
    header .contenedor .contenedor-header .text .nombre {
        font-size: 1.875em;}
    header .contenedor .contenedor-header .text .profesion {
        font-size: 1.25em;}
        header .contenedor-header .text .profesion .typed{
            display: inline-block;
            font-size: 1.25em;
            color: #ffd100;
        }
    header .contenedor .contenedor-header .boton-hd a {
        font-size: 1.25em;}
        .enlace__BtnUp, .btn__Up{
            display: none;
        }
    /* servicios */
        .main .servicios .contenedor {
            margin: 0em;
            padding: 0em;
            display:flex;
            align-items: center;
            flex-flow: column wrap;
            justify-content: center;
            width: 100%;}
            .main .servicios .text__SobreMi {
                font-size: 1.25em;
                margin: 0 auto;
                width: 90%;
                line-height: 1.6875rem;
                max-width: 100em;
                font-weight: 400;
                padding: 0 0 3.125rem;
                text-align: start;
            }
            .main .servicios .contenedor .cajaserv {
                width: 80%;
                margin-bottom: 0.625rem;}
            .main .servicios .contenedor .cajaserv .imagenserv {
                width: 45px;
            }
            .main .servicios .contenedor .cajaserv h5 {
                font-size: 1.25em;}

    /* portfolio */
.main .portfolio { 
    padding-bottom: 0;}
    .main .portfolio .contenedor {
            width: 100%;
            box-sizing: border-box;}
        .main .portfolio .titulo {
            font-size: 3.125em;
            padding-top:0;
            margin: 3.125rem 0 1.25rem;}
            .main .portfolio .contenedor .cajastrabajo {
                border-bottom: 1px solid #ffd100;}
                .main .portfolio .contenedor .cajastrabajo .trabajos {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    margin: auto;
                    padding-bottom: 1.25rem;}
                    .main .portfolio .cajastrabajo .trabajos .thumb{
                        padding-bottom: 0.9375rem;
                    }
                        .main .portfolio .cajastrabajo .trabajos .thumb img{
                            margin: 0;
                            width: 31.25em;
                            height: 80%;
                            
                        }
                        .main .portfolio .cajastrabajo .trabajos .descripcion {
                            width: 100%;}   
                                .main .portfolio .cajastrabajo .trabajos .descripcion .nombre {
                                    font-size: 2.1875em;
                                    margin: 0.625rem 0;}
                                .main .portfolio .cajastrabajo .trabajos .descripcion .categoria {
                                    font-size: 1.25em;
                                    margin: 0.625rem 3.125rem;}
                                .main .portfolio .cajastrabajo .trabajos .descripcion .resumen {
                                    font-size: 1.125em;
                                    margin: 0.625rem 1.875rem;}
                                .main .portfolio .cajastrabajo .trabajos .descripcion .boton-pf,
                                .main .portfolio .cajastrabajo .trabajos .descripcion .boton-vp {
                                    width: 100%;
                                    margin: 0.9375rem 0;
                                    font-size: 0.9375em;
                                    text-shadow: 1px 1px 5px #000}
/* footer */
    footer .redes-sociales {
        margin:auto;}
        footer .redes-sociales .logo img { 
            width: 4.6875em;}
        footer .redes-sociales .contenedor a {
            width: 3.75rem;
            font-size: 2em}
        footer .redes-sociales .copyright {
            margin: 1.875rem auto 0 auto;}
            footer .redes-sociales .copyright p{
                display: flex;
                font-size: 0.9375em;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin: 0.3125rem auto;}}
/* 31.25em */
@media screen and (max-width: 500px) { 
    * {
        box-sizing: border-box;}   
    header {
      padding-bottom: 0em;}
    /* header menu nav */
                header .contenedor .menus .menu a{
                    font-size: 1.125em;}
    /* header img textos wspp */
    header .contenedor .contenedor-header {
        padding-top: 1.25rem;}
        header .contenedor .contenedor-header .imagen img{
            width: 12.5em;
            margin: auto;}
        header .contenedor .contenedor-header .text .nombre {
            font-size: 1.25em;
            margin: 1.875rem 0 1.5625rem 0;
            line-height: 1.25rem;}
        header .contenedor .contenedor-header .text .profesion {
            font-size: 1.125em;
            margin: 0 0 1.5625rem 0;}
            header .contenedor-header .text .profesion .typed{
                display: inline-block;
                font-size: 1.125em;
                color: #ffd100;
            }
        header .contenedor .contenedor-header .boton-hd {
            padding: 0.5rem 1.125rem 0.75rem 1.125rem;}
            header .contenedor .contenedor-header .boton-hd a {
                font-size: 0.9375em;
                margin: auto;}
    /* servicios */
        .main .servicios .contenedor {
            margin: 0;
            padding: 0;
            display:flex;
            align-items: center;
            flex-flow: column wrap;
            justify-content: center;
            width: 100%;
        }
            .main .servicios .text__SobreMi {
                font-size: 1.0625em;
                margin: 0 auto;
                width: 90%;
                line-height: 1.6875rem;
                max-width: 100em;
                font-weight: 400;
                padding: 0 0em 3.125rem;
                text-align: start;
            }
            .main .servicios .titulo {
                font-size: 2.5em;
                margin: 1.875rem 0 0.625rem;}
                .main .servicios .subtitulo{
                    font-size: 1.5625em;
                }
            .main .servicios .contenedor .cajaserv {
                width: 90%;}
                .main .servicios .contenedor .cajaserv img {
                    width: 3.125em;}
                .main .servicios .contenedor .cajaserv h5 {
                    font-size: 1.25em;}
    /* portfolio */
.main .portfolio {
    padding-bottom: 0;}
    .main .portfolio .contenedor {
            width: 100%;
            box-sizing: border-box;}
        .main .portfolio .titulo {
            font-size: 2.5em;
            padding-top: 0;
            margin: 2.5rem 0 0.625rem;}
                .main .portfolio .contenedor .cajastrabajo .trabajos {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    margin: auto;
                    padding-bottom: 1.25rem;}
                .main .portfolio .cajastrabajo .trabajos .thumb img{
                    width: 21.875em;}
                .main .portfolio .cajastrabajo .trabajos .descripcion {
                    width: 100%;}   
                        .main .portfolio .cajastrabajo .trabajos .descripcion .nombre {
                            font-size: 1.5625em;
                            margin: 0.625rem 0;}
                        .main .portfolio .cajastrabajo .trabajos .descripcion .categoria {
                            font-size: 1.0625em;
                            margin: 0.625rem 3.125rem;}
                        .main .portfolio .cajastrabajo .trabajos .descripcion .resumen {
                            font-size: 1.0625em;
                            padding-bottom: 0.625em;
                            margin: 0.625rem 3.125rem;}
                        .main .portfolio .cajastrabajo .trabajos .descripcion .boton-pf,
                        .main .portfolio .cajastrabajo .trabajos .descripcion .boton-vp {
                            width: 100%;
                            margin: 0.625rem 3.125rem;
                            padding: 0.625rem 0.3125rem;
                            }
                            .main .portfolio .cajastrabajo .trabajos .descripcion .boton-pf a,
                            .main .portfolio .cajastrabajo .trabajos .descripcion .boton-vp a {
                                font-size: 0.9375em;
                                text-shadow: 1px 1px 5px #000;}
/* footer */
    footer .redes-sociales {
        margin:auto;}
        footer .redes-sociales .logo img { 
            width: 3.125em;}
        footer .redes-sociales .frase p {
            font-size: 0.875em;}
        footer .redes-sociales .contenedor a {
            width: 3.125em;
            font-size: 2em}
        footer .redes-sociales .email{
            font-size: 0.9375em;
        }
        footer .redes-sociales .copyright {
            margin: 2.5em auto 0em auto;}
            footer .redes-sociales .copyright p{
                font-size: 0.8125em;
                display: flex;
                width:100%;
                flex-flow: column nowrap;
                margin: 0.3125rem auto;
            }
}
@media screen and (max-width: 22.5em) {
    .main .portfolio .cajastrabajo .trabajos .thumb img{
        width: 15.625em;}
}